name: CMake

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: System dependencies
      # Instal system dependencies using apt
      run: |
        pip install --user cpp-coveralls codecov
        sudo apt-get update
        sudo apt-get -y install lcov bzip2 wget cmake make gcc libboost-system-dev libboost-filesystem-dev libboost-timer-dev libboost-thread-dev libboost-program-options-dev
    
    - name: Prerequisites
      # Instal dynadjust build prerequisites
      shell: bash
      run: ./resources/install_dynadjust_prerequisites.sh -m 1

    - name: Build and test
      # Build and test using shell script
      shell: bash
      working-directory: ${{runner.workspace}}/..
      run: |
        cp ./DynAdjust/resources/make_dynadjust_gcc.sh ./
        ./make_dynadjust_gcc.sh --no-install --auto --do-not-clone --test

    
